[submodule "external/autoware_manual_control"]
	path = external/autoware_manual_control
	url = https://github.com/evshary/autoware_manual_control.git
[submodule "external/zenoh-plugin-ros2dds"]
	path = external/zenoh-plugin-ros2dds
	url = https://github.com/eclipse-zenoh/zenoh-plugin-ros2dds.git
